section.callback.popup
    div.container
        include ../images/cross.svg
        div.form
            h3 Рассчитать проект
            br
            p Мы работаем над тем, что бы интегрировать европейский подход в процессы изготовления мебели в компании КЕХО
            br
            form
                input(type="text", placeholder="Как к вам обращаться?")
                input(type="text", placeholder="8 ( _ _ _ ) _ _ _ - _ _ - _ _")
                input(type="text", placeholder="Введите email")
                br
                textarea(name="", id="", cols="30", rows="10")
                br
                p.policy Нажимая кнопку, я даю свое согласие на обработку моих персональных данных в соответствии с законом №152-ФЗ «О персональных данных» от 27.07.2006 и принимая условия пользовательского соглашения
                br
                input(type="submit", value="Рассчитать проект").button