section.subscribe.bordered
    br
    br
    br
    br
    div.container
        h2 Подпишись и получи скидку 5%
        br
        p Мы работаем над тем, что бы интегрировать европейский подход в процессы изготовления мебели в компании КЕХО.
        br
        form
            input(type="text", placeholder="Введите вашу почту")
            input(type="submit", value="Подписаться").button
    br
    br
    br
    br
footer
    div.container
        br
        br
        div.contacts
            div.logotype
                a(href="/") КЕХО
                p Компания КЕХО - надежный производитель мебели по индивидуальным проектам.
            div.email
                a(href="mailto:info@kehowork.ru") kehohome@info.ru
                a(href="tel:+74951778725") +7 (495) 177-87-25
            p.schedule Мы работаем для вас </br> с понедельника до пятницы с 10 до 19
            ul.socials
                li
                    a(href="/"): img(src="images/social.svg")
                li
                    a(href="/"): img(src="images/social.svg")
                li
                    a(href="/"): img(src="images/social.svg")
        br
        br
        hr
        br
        br
        ul(class="additional_menu")
            li
                strong: a(href="about.html") О фабрике
            li
                strong: a(href="text_page.html") Доставка
            li
                strong: a(href="text_page.html") Оплата
            li
                strong: a(href="text_page.html") Вакансии
            li
                strong: a(href="partnership.html") Партнерство
            li
                strong: a(href="contacts.html") Контакты

        br
        br
        hr
        br
        br
        ul.menu
            li
                strong Хранение
                ul
                    li: a(href="categories.html") Комоды
                    li: a(href="categories.html") ТВ Тумбы
                    li: a(href="categories.html") Шкафы
                    li: a(href="categories.html") Витрины
                    li: a(href="categories.html") Прикроватные тумбы
            li
                strong Столы
                ul
                    li: a(href="categories.html") Журнальные столики
                    li: a(href="categories.html") Рабочие столы
                    li: a(href="categories.html") Обеденные столы
            li
                strong Кухни
                ul
                    li: a(href="categories.html") Коллекция №1
                    li: a(href="categories.html") Коллекция №2
                    li: a(href="categories.html") Коллекция №3
            li
                strong Гардеробные комнаты
                ul
                    li: a(href="categories.html") Гардеробная №1
                    li: a(href="categories.html") Гардеробная №2
                    li: a(href="categories.html") Гардеробная №3
            li
                strong Жилые зоны
                ul
                    li: a(href="categories.html") Для ванной
                    li: a(href="categories.html") Для спальни
                    li: a(href="categories.html") Для гостинной
                    li: a(href="categories.html") Витрины
            li
                strong Другие изделия
                ul
                    li: a(href="categories.html") Стеновые панели
                    li: a(href="categories.html") Потолочные изделия
                    li: a(href="categories.html") Двери
                    li: a(href="categories.html") Уличная мебель
        br
        br
        hr
        br
        br
        p.copyright © 2020 Kehohome.ru - Фабрика по производству мебели. Все права защищены.
        br
        br

script(src="scripts/select.js")
