section(class="menu_popup")
    include ../images/cross.svg
    div.container
        div.wrap
            div.contacts
                div.logotype
                    a(href="/") КЕХО
                    p Компания КЕХО - надежный производитель мебели по индивидуальным проектам.
                br
                div.email
                    a(href="mailto:info@kehowork.ru") kehohome@info.ru
                    a(href="tel:+74951778725") +7 (495) 177-87-25
                br
                p.schedule Мы работаем для вас </br> с понедельника до пятницы с 10 до 19
                br
                ul.socials
                    li
                        a(href="/"): img(src="images/social.svg")
                    li
                        a(href="/"): img(src="images/social.svg")
                    li
                        a(href="/"): img(src="images/social.svg")
            ul.menu
                li.has-child
                    h4 Категории
                    ul
                        li: a(href="categories.html") Хранение
                        li: a(href="categories.html") Столы
                        li: a(href="categories.html") Кухни
                        li: a(href="categories.html") Гардеробные комнаты
                        li: a(href="categories.html") Жилые зоны
                        li: a(href="categories.html") Другие изделия
                li.has-child
                    h4 Коллекции
                    ul
                        li: a(href="collections.html") Для дома
                        li: a(href="collections.html") Для гостинной
                        li: a(href="collections.html") Для ванной
                        li: a(href="collections.html") Для прихожей
                        li: a(href="collections.html") Для кухни

                li
                    ul
                        li
                            h4: a(href="order.html") Мебель на заказ
                        li
                            h4: a(href="partnership.html") Партнерство
                        li
                            h4: a(href="about.html") О фабрике
                        li
                            h4: a(href="contacts.html") Контакты
