section.order.popup
    div.container
        include ../images/cross.svg
        div.description
            h3 Прикроватная тумба Lugano
            br
            div(class="spec_list")
                p Категория:    
                    span Комоды
                p Коллекция:    
                    span Lugano
                p Материал:    
                    span Шпон дуба
                p Материал:    
                    span Металл
            div.preview
                div(style="background-image: url(images/card-3.webp)")
        div.form
            h3 Оформить заказ
            br
            p Мы работаем над тем, что бы интегрировать европейский подход в процессы изготовления мебели в компании КЕХО
            br
            form
                input(type="text", placeholder="Как к вам обращаться?")
                input(type="text", placeholder="8 ( _ _ _ ) _ _ _ - _ _ - _ _")
                input(type="text", placeholder="Введите email")
                br
                p.policy
                    | Нажимая кнопку, я даю свое согласие на обработку моих персональных данных в соответствии с законом 
                    | №152-ФЗ «О персональных данных» от 27.07.2006 и принимая условия пользовательского соглашения
                br
                input(type="submit", value="Оформить заказ").button
