include _header.pug

br
br
section.introduce
    div.container
        h1 О фабрике
        br
        hr.title
        br
        p
            | KEXOHOME– это фабрика, которая занимается производством мягкой мебели на заказ. 10 лет мы специализируемся на индивидуальных 
            | решениях в области производства диванов и кресел. Наша задача – удовлетворение всех потребностей заказчика касаемо мягкой 
            | мебели, и поэтому каждое наше изделие — это уникальная работа мастеров, выполненная в лучших традициях подхода к качеству.
br
br
br
section(class="page_gallery")
    div.container
        div.gallery
            div(style="background-image: url('images/9.jpg')")
            div(style="background-image: url('images/5.jpg')")
            div(style="background-image: url('images/8.jpg')")
            div(style="background-image: url('images/7.jpg')")
        div.navigation
            div.dots
br
br
br
br
section.about
    div.container
        div.description
            h3 Новый подход к старым традициям
            br
            p
                | Мы используем современные инструменты и материалы, т.к. считаем, что технологии помогают создавать наши 
                | диваны и кресла более долговечными и износостойкими. Однако, любое наше изделие это результат ручного 
                | труда, и поэтому от нашей мягкой мебели веет особенным теплом и уютом. Баланс традиций и современных 
                | технологий – вот наше кредо.
            br
            p
                | По завершению работ, мы составляем гарантийный талон сроком на 24 месяца, и сами доставляем диван в 
                | указанное вами место. И теперь вы можете наслаждаться эксклюзивным диваном, выполненным вручную по 
                | проекту, разработанному специально для вас.
        div(class="image_group")
            div(style="background-image: url('images/portfolio/1.jpg')").main.preview
            div.previews
                div(style="background-image: url('images/portfolio/1.jpg')").preview.active
                div(style="background-image: url('images/portfolio/6.jpg')").preview
                div(style="background-image: url('images/portfolio/3.jpg')").preview
br
br
br
br
br
br
section.introduce
    div.container
        h1 Производство мебели
        br
        hr.title
        br
        p
            | KEXOHOME– это фабрика, которая занимается производством мягкой мебели на заказ. 10 лет мы специализируемся на индивидуальных 
            | решениях в области производства диванов и кресел. Наша задача – удовлетворение всех потребностей заказчика касаемо мягкой 
            | мебели, и поэтому каждое наше изделие — это уникальная работа мастеров, выполненная в лучших традициях подхода к качеству.
        br
        br
        br
        div(class="instagramm_grid")
            div
                div(style="background-image: url('images/portfolio/16.jpg')").preview
                div(style="background-image: url('images/portfolio/17.jpg')").preview
                div(style="background-image: url('images/portfolio/18.jpg')").preview
                div(style="background-image: url('images/portfolio/19.jpg')").preview
            div(style="background-image: url('images/portfolio/20.jpg')").preview
br
br
br
br
br
br
section.about
    div.container.reverse
        div(class="image_group")
            div.previews
                div(style="background-image: url('images/1.jpg')").preview.active
                div(style="background-image: url('images/2.jpg')").preview
                div(style="background-image: url('images/3.jpg')").preview
            div(style="background-image: url('images/1.jpg')").main.preview
        div.description
            h3 Эксклюзивный проект, только для вас
            br
            p
                | Мы понимаем, как важны для вас детали. Именно поэтому вам не нужно искать готовый диван, идеально подходящий 
                | к задуманному интерьеру. Вы можете получить подходящий диван, выполнив его на заказ.
            br
            p
                | Обращаясь к нам, вы воплощаете любые ваши идеи, просто отправив нам изображение дивана, который вам подходит 
                | или сделанный вами набросок. В ответ мы разработаем для вас проект, предложим на выбор варианты механизмов, 
                | материалов отделки. Согласовав окончательный проект, сроки изготовления и цену, мы подпишем с вами бланк-заказ 
                | и возьмем предоплату в размере 50% от конечной цены.
            br
            p
                | По завершению работ, мы составляем гарантийный талон сроком на 24 месяца, и сами доставляем диван в указанное 
                | вами место. И теперь вы можете наслаждаться эксклюзивным диваном, выполненным вручную по проекту, разработанному 
                | специально для вас.
br
br
br
br
br
br

include _footer.pug