include _header.pug

br
br
section.introduce
    div.container
        h1 Мебель для спальной
        br
        hr.title
        br
        p
            | Спальня - это самое личное и душевное помещение в нашем жилище. Чаще всего скрытое от посторонних глаз, оно раскрывает 
            | нашу суть, наши индивидуальные особенности. И, конечно, мы стремимся сделать спальню настолько комфортной и уютной, 
            | чтоб в ней было приятно не только отдохнуть после дневной суеты, но и с радостью проснуться!
        br
        br
        a(class="animated_arrow callback_button")
            span(class="the_arrow left")
                span.shaft
            span.main
                span(class="link_text")
                    | Заказать
                span(class="the_arrow right")
                    span.shaft
        br
        br
        br
        br
        ul(class="portfolio_grid")
            li
                img(src="images/portfolio/1.jpg")
            li
                img(src="images/portfolio/2.jpg")
            li
                img(src="images/portfolio/3.jpg")
            li
                img(src="images/portfolio/4.jpg")
            li
                img(src="images/portfolio/5.jpg")
            li
                img(src="images/portfolio/6.jpg")
            li
                img(src="images/portfolio/7.jpg")
            li
                img(src="images/portfolio/8.jpg")
            li
                img(src="images/portfolio/9.jpg")
            li
                img(src="images/portfolio/10.jpg")
            li
                img(src="images/portfolio/11.jpg")
            li
                img(src="images/portfolio/12.jpg")
            li
                img(src="images/portfolio/13.jpg")
            li
                img(src="images/portfolio/14.jpg")
            li
                img(src="images/portfolio/15.jpg")
            li
                img(src="images/portfolio/16.jpg")
            li
                img(src="images/portfolio/17.jpg")
            li
                img(src="images/portfolio/18.jpg")
            li
                img(src="images/portfolio/19.jpg")
            li
                img(src="images/portfolio/20.jpg")
            li
                img(src="images/portfolio/21.jpg")
            li
                img(src="images/portfolio/22.jpg")
            li
                img(src="images/portfolio/23.jpg")
            li
                img(src="images/portfolio/24.jpg")
            li
                img(src="images/portfolio/25.jpg")
            li
                img(src="images/portfolio/26.jpg")
            li
                img(src="images/portfolio/27.jpg")
            li
                img(src="images/portfolio/28.jpg")
br
br
br
br
br
br
section.introduce
    div.container
        h1 Из чего сделана наша мебель
        br
        br
section.introduce.materials
    div.container.tabs
        div(class="tabs_caption")
            span(class="active_tab") Материалы
            span Фурнитура
        br
        div(class="tabs_content")
            div(class="tab_content active_tab")
                p
                    | Мы делаем мебель из массива, МДФ под эмалью или фанерованного шпоном МДФ, качественного ЛДСП, а так же пластика.
                    | Мы работаем с камнем и стеклом, металлом, латунью и итальянской керамикой. Главное, что мы умеем качественно 
                    | совмещать эти материалы.
                br
                br
                div(class="instagramm_grid")
                    div
                        div(style="background-image: url('images/1.jpg')").preview
                        div(style="background-image: url('images/2.jpg')").preview
                        div(style="background-image: url('images/3.jpg')").preview
                        div(style="background-image: url('images/4.jpg')").preview
                    div(style="background-image: url('images/5.jpg')").preview
            div(class="tab_content")
                p
                    | Работаем с правильной фурнитурой. Используемая в производстве изделий фурнитура только высокого 
                    | качества, проверенных европейских производителей, таких как TIOMOS, BLUM или SALICE.
                br
                br
                div(class="instagramm_grid")
                    div
                        div(style="background-image: url('images/6.jpg')").preview
                        div(style="background-image: url('images/7.jpg')").preview
                        div(style="background-image: url('images/8.jpg')").preview
                        div(style="background-image: url('images/9.jpg')").preview
                    div(style="background-image: url('images/10.jpg')").preview
br
br
br
br
br
br


include _footer.pug