include _header.pug

br
br
section.introduce
    div.container
        h1 Столы
        br
        hr(style="margin: 0 auto").title
        br
        p
            | Дизайнерские столы в лаконичном скандинавском стиле помогут создать удобную продуманную обстановку 
            | и придадут интерьеру особый шик. Модели, представленные в каталоге, привлекают элегантным дизайном 
            | — мягкими плавными очертаниями и простотой геометрических форм.
section(class="category_products")
    div.container
        div.title
            h3 Журнальные столы
            br
            a(href="category.html", class="animated_arrow")
                span(class="the_arrow left")
                    span.shaft
                span.main
                    span(class="link_text") Показать все
                    span(class="the_arrow right")
                        span.shaft
        div.list.carousel
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-1.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text") Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-2.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text") Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-3.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text") Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-4.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text") Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-5.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text") Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-6.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text") Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-7.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text") Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-8.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text") Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
section(class="category_products")
    div.container
        div.title
            h3 Рабочие столы
            br
            a(href="category.html", class="animated_arrow")
                span(class="the_arrow left")
                    span.shaft
                span.main
                    span(class="link_text") Показать все
                    span(class="the_arrow right")
                        span.shaft
        div.list.carousel
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-1.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text") Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-2.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text") Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-3.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-4.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-5.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-6.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-7.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-8.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
section(class="category_products")
    div.container
        div.title
            h3 Обеденные столы
            br
            a(href="category.html", class="animated_arrow")
                span(class="the_arrow left")
                    span.shaft
                span.main
                    span(class="link_text")
                        | Показать все
                    span(class="the_arrow right")
                        span.shaft
        div.list.carousel
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-1.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-2.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-3.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-4.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-5.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-6.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-7.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-8.jpg)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
br
br
br
br
br
br
section.seo
    div.container
        div(style="background-image: url('images/4.jpg')").preview
        div.text
            p
                | Дизайнерские столы в лаконичном скандинавском стиле помогут создать удобную продуманную 
                | обстановку и придадут интерьеру особый шик. Модели, представленные в каталоге, привлекают 
                | элегантным дизайном — мягкими плавными очертаниями и простотой геометрических форм. Они 
                | будут великолепно смотреться как в домашней обстановке, так и в офисе. Их можно установить 
                | в гостиной, рабочем кабинете, в спальне и на кухне. Главные отличительные черты изделий — 
                | компактные размеры, респектабельный вид, соответствие требованиям эргономики, надежность 
                | и долговечность.
            br
            br
            h3 Элегантность и комфорт
            br
            p
                | Наша компания предоставляет возможность удобные скандинавские стулья купить с доставкой по 
                | Москве и в регионы. В качестве основного материала изделий мастера используют березовую 
                | фанеру, прошедшую обработку, покрытую морилкой и лаком. Темные цвета мебели смотрятся в 
                | интерьере благородно и изысканно, придавая помещению индивидуальность.
            p
                | За счет удобной спинки стулья обеспечивают максимальный комфорт. Изделия могут иметь сиденье 
                | различной степени жесткости, в некоторых моделях для обивки используется мягкий износостойкий 
                | бархат. Вы можете выбрать вариант расцветки каркаса и обивки сиденья, идеально подходящий для 
                | вашего интерьера
br
br
br
br
br
br

include _footer.pug