include _header.pug

br
br
section.introduce
    div.container
        h1 Мебель для спальной
        br
        hr.title
        br
        p
            | Спальня - это самое личное и душевное помещение в нашем жилище. Чаще всего скрытое от посторонних глаз, оно раскрывает 
            | нашу суть, наши индивидуальные особенности. И, конечно, мы стремимся сделать спальню настолько комфортной и уютной, 
            | чтоб в ней было приятно не только отдохнуть после дневной суеты, но и с радостью проснуться!
        br
        br
        a(class="animated_arrow callback_button")
            span(class="the_arrow left")
                span.shaft
            span.main
                span(class="link_text")
                    | Заказать
                span(class="the_arrow right")
                    span.shaft
        br
        br
        br
        br
        ul(class="portfolio_grid")
            li
                img(src="images/portfolio/1.webp")
            li
                img(src="images/portfolio/2.webp")
            li
                img(src="images/portfolio/3.webp")
            li
                img(src="images/portfolio/4.webp")
            li
                img(src="images/portfolio/5.webp")
            li
                img(src="images/portfolio/6.webp")
            li
                img(src="images/portfolio/7.webp")
            li
                img(src="images/portfolio/8.webp")
            li
                img(src="images/portfolio/9.webp")
            li
                img(src="images/portfolio/10.webp")
            li
                img(src="images/portfolio/11.webp")
            li
                img(src="images/portfolio/12.webp")
            li
                img(src="images/portfolio/13.webp")
            li
                img(src="images/portfolio/14.webp")
            li
                img(src="images/portfolio/15.webp")
            li
                img(src="images/portfolio/16.webp")
            li
                img(src="images/portfolio/17.webp")
            li
                img(src="images/portfolio/18.webp")
            li
                img(src="images/portfolio/19.webp")
            li
                img(src="images/portfolio/20.webp")
            li
                img(src="images/portfolio/21.webp")
            li
                img(src="images/portfolio/22.webp")
            li
                img(src="images/portfolio/23.webp")
            li
                img(src="images/portfolio/24.webp")
            li
                img(src="images/portfolio/25.webp")
            li
                img(src="images/portfolio/26.webp")
            li
                img(src="images/portfolio/27.webp")
            li
                img(src="images/portfolio/28.webp")
br
br
br
br
br
br
section.introduce
    div.container
        h1 Из чего сделана наша мебель
        br
        br
section.introduce.materials
    div.container.tabs
        div(class="tabs_caption")
            span(class="active_tab") Материалы
            span Фурнитура
        br
        div(class="tabs_content")
            div(class="tab_content active_tab")
                p
                    | Мы делаем мебель из массива, МДФ под эмалью или фанерованного шпоном МДФ, качественного ЛДСП, а так же пластика.
                    | Мы работаем с камнем и стеклом, металлом, латунью и итальянской керамикой. Главное, что мы умеем качественно 
                    | совмещать эти материалы.
                br
                br
                div(class="instagramm_grid")
                    div
                        div(style="background-image: url('images/1.webp')").preview
                        div(style="background-image: url('images/2.webp')").preview
                        div(style="background-image: url('images/3.webp')").preview
                        div(style="background-image: url('images/4.webp')").preview
                    div(style="background-image: url('images/5.webp')").preview
            div(class="tab_content")
                p
                    | Работаем с правильной фурнитурой. Используемая в производстве изделий фурнитура только высокого 
                    | качества, проверенных европейских производителей, таких как TIOMOS, BLUM или SALICE.
                br
                br
                div(class="instagramm_grid")
                    div
                        div(style="background-image: url('images/6.webp')").preview
                        div(style="background-image: url('images/7.webp')").preview
                        div(style="background-image: url('images/8.webp')").preview
                        div(style="background-image: url('images/9.webp')").preview
                    div(style="background-image: url('images/10.webp')").preview
br
br
br
br
br
br


include _footer.pug