include _header.pug

section.banner
    div.container
        div.carousel
            div.slide
                div.text
                    h1 Изготовление мебели премиум класса
                    br
                    hr.title
                    br
                    p
                        | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, 
                        | проведем открытие и возьмем на себя управление вашими будущим бизнесом.
                    br
                    a(class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
                div(style="background-image: url('images/main.png')").image
            div.slide
                div.text
                    h1 Изготовление мебели премиум класса
                    br
                    hr.title
                    br
                    p
                        | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, 
                        | проведем открытие и возьмем на себя управление вашими будущим бизнесом.
                    br
                    a(class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
                div(style="background-image: url('images/main.png')").image
            div.slide
                div.text
                    h1 Изготовление мебели премиум класса
                    br
                    hr.title
                    br
                    p
                        | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, 
                        | проведем открытие и возьмем на себя управление вашими будущим бизнесом.
                    br
                    a(class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
                div(style="background-image: url('images/main.png')").image
section(class="banner_navigation")
    div.container
        div.dots
section(class="category_icons")
    div.container
        div.list
            div(class="category_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-1.jpg)")
                br
                strong Шкафы
                a(href="category.html").hidden
                    strong Шкафы
                    p Хороший диван не только подчёркивает статус хозяина дома, но и собирает вместе семью и лучших друзей.
                    div(class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
            div(class="category_card")
                a(href="category.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-2.jpg)")
                br
                strong ТВ тумбы
                div.hidden
                    strong ТВ тумбы
                    p Хороший диван не только подчёркивает статус хозяина дома, но и собирает вместе семью и лучших друзей.
                    a(href="category.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
            div(class="category_card")
                a(href="category.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-3.jpg)")
                br
                strong Комоды
                div.hidden
                    strong Комоды
                    p Хороший диван не только подчёркивает статус хозяина дома, но и собирает вместе семью и лучших друзей.
                    a(href="category.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
            div(class="category_card")
                a(href="category.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-4.jpg)")
                br
                strong Стеллажи
                div.hidden
                    strong Стеллажи
                    p Хороший диван не только подчёркивает статус хозяина дома, но и собирает вместе семью и лучших друзей.
                    a(href="category.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
            div(class="category_card")
                a(href="category.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-5.jpg)")
                br
                strong Шкафы
                div.hidden
                    strong Шкафы
                    p Хороший диван не только подчёркивает статус хозяина дома, но и собирает вместе семью и лучших друзей.
                    a(href="category.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
            div(class="category_card")
                a(href="category.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-6.jpg)")
                br
                strong ТВ тумбы
                a(href="category.html").hidden
                    strong ТВ тумбы
                    p Хороший диван не только подчёркивает статус хозяина дома, но и собирает вместе семью и лучших друзей.
                    div(class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
            div(class="category_card")
                a(href="category.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-7.jpg)")
                br
                strong Комоды
                a(href="category.html").hidden
                    strong Комоды
                    p Хороший диван не только подчёркивает статус хозяина дома, но и собирает вместе семью и лучших друзей.
                    div(class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
            div(class="category_card")
                a(href="category.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-8.jpg)")
                br
                strong Стеллажи
                div.hidden
                    strong Стеллажи
                    p Хороший диван не только подчёркивает статус хозяина дома, но и собирает вместе семью и лучших друзей.
                    a(href="category.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
            div(class="category_card")
                a(href="category.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-1.jpg)")
                br
                strong Шкафы
                div.hidden
                    strong Шкафы
                    p Хороший диван не только подчёркивает статус хозяина дома, но и собирает вместе семью и лучших друзей.
                    a(href="category.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
            div(class="category_card")
                a(href="category.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-2.jpg)")
                br
                strong ТВ тумбы
                div.hidden
                    strong ТВ тумбы
                    p Хороший диван не только подчёркивает статус хозяина дома, но и собирает вместе семью и лучших друзей.
                    a(href="category.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Подробнее
                            span(class="the_arrow right")
                                span.shaft
        div(class="show_more") Все категории 
            span +
br
br
br
br
br
br
section.articles
    div.container
        div.list
            div(class="article_card animated")
                a(href="text_page.html", class="desktop_link")
                div(style="background-image: url('images/1.jpg')").preview
                div.description
                    div.tag Услуга
                    div
                        h3 Мебель по индивидуальным проектам
                        div.hidden
                            br
                            p
                                | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                                | открытие и возьмем на себя управление вашими будущим бизнесом.
                            br
                            a(href="text_page.html", class="animated_arrow")
                                span(class="the_arrow left")
                                    span.shaft
                                span.main
                                    span(class="link_text")
                                        | Подробнее
                                    span(class="the_arrow right")
                                        span.shaft
            div(class="article_card animated")
                a(href="text_page.html", class="desktop_link")
                div(style="background-image: url('images/2.jpg')").preview
                div.description
                    div.tag Услуга
                    div
                        h3 Собственная линейка мебели
                        div.hidden
                            br
                            p
                                | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                                | открытие и возьмем на себя управление вашими будущим бизнесом.
                            br
                            a(href="text_page.html", class="animated_arrow")
                                span(class="the_arrow left")
                                    span.shaft
                                span.main
                                    span(class="link_text")
                                        | Подробнее
                                    span(class="the_arrow right")
                                        span.shaft
            div(class="article_card animated")
                a(href="text_page.html", class="desktop_link")
                div(style="background-image: url('images/3.jpg')").preview
                div.description
                    div.tag Услуга
                    div
                        h3 Упакованное производство
                        div.hidden
                            br
                            p
                                | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                                | открытие и возьмем на себя управление вашими будущим бизнесом.
                            br
                            a(href="text_page.html", class="animated_arrow")
                                span(class="the_arrow left")
                                    span.shaft
                                span.main
                                    span(class="link_text")
                                        | Подробнее
                                    span(class="the_arrow right")
                                        span.shaft
            div(class="article_card animated")
                a(href="text_page.html", class="desktop_link")
                div(style="background-image: url('images/4.jpg')").preview
                div.description
                    div.tag Услуга
                    div
                        h3 Новая линейка мебели
                        div.hidden
                            br
                            p
                                | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                                | открытие и возьмем на себя управление вашими будущим бизнесом.
                            br
                            a(href="text_page.html", class="animated_arrow")
                                span(class="the_arrow left")
                                    span.shaft
                                span.main
                                    span(class="link_text")
                                        | Подробнее
                                    span(class="the_arrow right")
                                        span.shaft
br
br
br
br
br
br
section.introduce
    div.container
        h1 Почему выбирают нас?
        br
        hr.title
        br
        p
            | Дизайнерские столы в лаконичном скандинавском стиле помогут создать удобную продуманную обстановку 
            | и придадут интерьеру особый шик. Модели, представленные в каталоге, привлекают элегантным дизайном 
            | — мягкими плавными очертаниями и простотой геометрических форм.
section.advantages
    div.container.tabs
        br
        br
        div(class="tabs_caption")
            a.active Работаем
                br
                | с дизайнерами
            a Работаем строго
                br
                | по чертежам
            a Есть идея?
                br
                | Нарисуем
            a Расчет крупных
                br
                | проектов до 3-х дней
            a Главный технолог
                br
                | Норман Риекст
        div.wrap
            div.carousel
                div(class="tabs_content")
                    div.text
                        h3 Главный технолог компании НОРМАН РИЕКСТ
                        br
                        p
                            | Мы работаем над тем, что бы интегрировать
                            strong европейский подход
                            | в процессы 
                            | изготовления мебели в компании КЕХО. Я и моя команда гарантируем вам 
                            | профессионализм и высокий сервис.
                        br
                        a(class="animated_arrow callback_button")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Рассчитать проект
                                span(class="the_arrow right")
                                    span.shaft
                    div(style="background-image: url('images/norman.png')").image
                div(class="tabs_content")
                    div.text
                        h3 Главный технолог компании НОРМАН РИЕКСТ
                        br
                        p
                            | Мы работаем над тем, что бы интегрировать
                            strong европейский подход
                            | в процессы 
                            | изготовления мебели в компании КЕХО. Я и моя команда гарантируем вам 
                            | профессионализм и высокий сервис.
                        br
                        a(class="animated_arrow callback_button")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Рассчитать проект
                                span(class="the_arrow right")
                                    span.shaft
                    div(style="background-image: url('images/advantage.png')").image
                div(class="tabs_content")
                    div.text
                        h3 Главный технолог компании НОРМАН РИЕКСТ
                        br
                        p
                            | Мы работаем над тем, что бы интегрировать
                            strong европейский подход
                            | в процессы 
                            | изготовления мебели в компании КЕХО. Я и моя команда гарантируем вам 
                            | профессионализм и высокий сервис.
                        br
                        a(class="animated_arrow callback_button")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Рассчитать проект
                                span(class="the_arrow right")
                                    span.shaft
                    div(style="background-image: url('images/advantage.png')").image
                div(class="tabs_content")
                    div.text
                        h3 Главный технолог компании НОРМАН РИЕКСТ
                        br
                        p
                            | Мы работаем над тем, что бы интегрировать
                            strong европейский подход
                            | в процессы 
                            | изготовления мебели в компании КЕХО. Я и моя команда гарантируем вам 
                            | профессионализм и высокий сервис.
                        br
                        a(class="animated_arrow callback_button")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Рассчитать проект
                                span(class="the_arrow right")
                                    span.shaft
                    div(style="background-image: url('images/advantage.png')").image
                div(class="tabs_content")
                    div.text
                        h3 Главный технолог компании НОРМАН РИЕКСТ
                        br
                        p
                            | Мы работаем над тем, что бы интегрировать
                            strong европейский подход
                            | в процессы 
                            | изготовления мебели в компании КЕХО. Я и моя команда гарантируем вам 
                            | профессионализм и высокий сервис.
                        br
                        a(class="animated_arrow callback_button")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Рассчитать проект
                                span(class="the_arrow right")
                                    span.shaft
                    div(style="background-image: url('images/advantage.png')").image
            div.navigation
br
br
br
br
br
br
section(class="work_stages introduce")
    div.container
        h1 Этапы работы
        br
        hr.title
        br
        p
            | Технология производства корпусной мебели насчитывает долгие годы истории. Впервые интерьерные объекты данного 
            | типа появились на западе, а позже перекочевали в Европу.
        br
        br
        br
        div.list
            div(class="stage_card animated")
                div(style="background-image: url('images/stages/1.jpg')").preview
                div.description
                    h4 Договор
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
            div(class="stage_card animated")
                div(style="background-image: url('images/stages/2.jpg')").preview
                div.description
                    h4 Замер
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
            div(class="stage_card animated")
                div(style="background-image: url('images/stages/3.jpg')").preview
                div.description
                    h4 Чертеж
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
            div(class="stage_card animated")
                div(style="background-image: url('images/stages/4.jpg')").preview
                div.description
                    h4 Производство
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
br
br
br
br
br
br
section.subscribe
    br
    br
    br
    br
    div.container
        h2 Заголовок открытой формы
        br
        p Мы работаем над тем, что бы интегрировать европейский подход в процессы изготовления мебели в компании КЕХО.
        br
        form
            input(type="text", placeholder="Как к вам обращаться?")
            input(type="text", placeholder="8 ( _ _ _ ) _ _ _ - _ _ - _ _")
            input(type="submit", value="Отправить заявку").button
    br
    br
    br
    br
br
br
br
br
br
br
section.introduce
    div.container
        h1 Новинки КЕХО
        br
        hr.title
        br
        p
            | Дизайнерские столы в лаконичном скандинавском стиле помогут создать удобную продуманную обстановку 
            | и придадут интерьеру особый шик. Модели, представленные в каталоге, привлекают элегантным дизайном 
            | — мягкими плавными очертаниями и простотой геометрических форм.
section.products
    div.container.tabs
        div(class="tabs_caption")
            a.active Все
            a Хранение
            a Столы
            a Кухни
            a Гардеробные комнаты
            a Жилые зоны
            a Другие изделия
        br
        div.carousel
            div(class="list tabs_content")
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-1.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-2.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-3.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-4.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-5.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-6.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-7.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-8.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
            div(class="list tabs_content")
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-1.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-2.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-3.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-4.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-5.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-6.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-7.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-8.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
            div(class="list tabs_content")
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-1.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-2.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-3.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-4.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-5.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-6.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-7.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-8.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
            div(class="list tabs_content")
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-1.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-2.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-3.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-4.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-5.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-6.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-7.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-8.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
            div(class="list tabs_content")
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-1.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-2.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-3.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-4.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-5.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-6.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-7.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-8.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
            div(class="list tabs_content")
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-1.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-2.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-3.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-4.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-5.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-6.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-7.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
                div(class="product_card")
                    a(href="product.html", class="desktop_link")
                    div.preview
                        div(style="background-image: url(images/card-8.jpg)")
                    br
                    a(href="product.html", class="animated_arrow")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Комод Lugano
                            span(class="the_arrow right")
                                span.shaft
                    p от ₽ 27 799
                    div.hidden
                        p
                            | Разработаем концепцию, построим, проведем открытие и 
                            | возьмем на себя управление вашими будущим бизнесом.
br
br
br
br
br
br
section.about
    div.container
        div.description
            h3 Компания КЕХО - надежный производитель мебели по индивидуальным проектам.
            br
            p
                | KEXO - производственная компания полного цикла. Мы готовы оказать услугу на 
                | любом этапе - консультации в интерьерных решениях, разработка дизайна и 
                | дальнейшее изготовление с соблюдением инженерно технических норм, изготовление 
                | нестандартной мебели и предметов интерьера.
            br
            a(href="about.html", class="animated_arrow")
                span(class="the_arrow left")
                    span.shaft
                span.main
                    span(class="link_text")
                        | Узнать о фабрике
                    span(class="the_arrow right")
                        span.shaft
        div(class="image_group")
            div(style="background-image: url('images/8.jpg')").main.preview
            div.previews
                div(style="background-image: url('images/8.jpg')").preview.active
                div(style="background-image: url('images/9.jpg')").preview
                div(style="background-image: url('images/10.jpg')").preview
br
br
br
br
br
br
section.instagramm
    div.container
        div.grid
            div
                div(style="background-image: url('images/1.jpg')").preview
                div(style="background-image: url('images/2.jpg')").preview
                div(style="background-image: url('images/3.jpg')").preview
                div(style="background-image: url('images/4.jpg')").preview
            div(style="background-image: url('images/5.jpg')").preview
br
br
br
br
br
br


include _footer.pug