include _header.pug

br
br
section.introduce
    div.container
        h1 Индивидуальные проекты
        br
        hr.title
        br
        p
            | Изготовление высококачественной мебели по индивидуальному дизайн-проекту, точно в срок. Используем только 
            | качественные материалы, проверенные опытом и потому предоставляем на изделия 4 года гарантийного и 10 лет 
            | постгарантийного обслуживания. Работаем строго по РФ и СНГ.
section(class="individual_projects")
    div.container
        div.list
            div(class="project_card")
                div.description
                    h3 СПБ Гостиница
                    br
                    p
                        | Изящная и элегантная мебельная стенка Lugano легко удовлетворит все ваши потребности 
                        | в хранении. Этот комод невероятно красив, причем не в ущерб функциональности. 
                        | Благодаря потрясающей отделке и изящному виду этот современный комод впишется в любой 
                        | интерьер.
                    br
                    a(class="animated_arrow callback_button")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Хочу также
                            span(class="the_arrow right")
                                span.shaft
                div(class="project_gallery")
                    div.list
                        div(style="background-image: url('images/1.webp')")
                        div(style="background-image: url('images/2.webp')")
                        div(style="background-image: url('images/3.webp')")
                        div(style="background-image: url('images/4.webp')")
                    div.navigation
                        div.dots
            div(class="project_card")
                div.description
                    h3 СПБ Гостиница
                    br
                    p
                        | Изящная и элегантная мебельная стенка Lugano легко удовлетворит все ваши потребности 
                        | в хранении. Этот комод невероятно красив, причем не в ущерб функциональности. 
                        | Благодаря потрясающей отделке и изящному виду этот современный комод впишется в любой 
                        | интерьер.
                    br
                    a(class="animated_arrow callback_button")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Хочу также
                            span(class="the_arrow right")
                                span.shaft
                div(class="project_gallery")
                    div.list
                        div(style="background-image: url('images/2.webp')")
                        div(style="background-image: url('images/3.webp')")
                        div(style="background-image: url('images/4.webp')")
                        div(style="background-image: url('images/5.webp')")
                    div.navigation
                        div.dots
            div(class="project_card")
                div.description
                    h3 СПБ Гостиница
                    br
                    p
                        | Изящная и элегантная мебельная стенка Lugano легко удовлетворит все ваши потребности 
                        | в хранении. Этот комод невероятно красив, причем не в ущерб функциональности. 
                        | Благодаря потрясающей отделке и изящному виду этот современный комод впишется в любой 
                        | интерьер.
                    br
                    a(class="animated_arrow callback_button")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Хочу также
                            span(class="the_arrow right")
                                span.shaft
                div(class="project_gallery")
                    div.list
                        div(style="background-image: url('images/3.webp')")
                        div(style="background-image: url('images/4.webp')")
                        div(style="background-image: url('images/5.webp')")
                        div(style="background-image: url('images/6.webp')")
                    div.navigation
                        div.dots
            div(class="project_card")
                div.description
                    h3 СПБ Гостиница
                    br
                    p
                        | Изящная и элегантная мебельная стенка Lugano легко удовлетворит все ваши потребности 
                        | в хранении. Этот комод невероятно красив, причем не в ущерб функциональности. 
                        | Благодаря потрясающей отделке и изящному виду этот современный комод впишется в любой 
                        | интерьер.
                    br
                    a(class="animated_arrow callback_button")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Хочу также
                            span(class="the_arrow right")
                                span.shaft
                div(class="project_gallery")
                    div.list
                        div(style="background-image: url('images/4.webp')")
                        div(style="background-image: url('images/5.webp')")
                        div(style="background-image: url('images/6.webp')")
                        div(style="background-image: url('images/7.webp')")
                    div.navigation
                        div.dots
            div(class="project_card")
                div.description
                    h3 СПБ Гостиница
                    br
                    p
                        | Изящная и элегантная мебельная стенка Lugano легко удовлетворит все ваши потребности 
                        | в хранении. Этот комод невероятно красив, причем не в ущерб функциональности. 
                        | Благодаря потрясающей отделке и изящному виду этот современный комод впишется в любой 
                        | интерьер.
                    br
                    a(class="animated_arrow callback_button")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Хочу также
                            span(class="the_arrow right")
                                span.shaft
                div(class="project_gallery")
                    div.list
                        div(style="background-image: url('images/5.webp')")
                        div(style="background-image: url('images/6.webp')")
                        div(style="background-image: url('images/7.webp')")
                        div(style="background-image: url('images/8.webp')")
                    div.navigation
                        div.dots
br
br
br
br


include _footer.pug