include _header.pug

section(class="order_banner")
    br
    br
    br
    br
    br
    div.container
        h1 Изготовление мебели на заказ
        br
        hr.title
        br
        br
        ul.list
            li Высокого качества по индивидуальному дизайн-проекту
            li С гарантией качества 55 месяцев
            li Из мдф, массива, стекла, латуни и других материалов
            li Предоплата по договору 30% - остальное после результата
        br
        br
        div(class="button callback_button") Оставить заявку
    br
    br
    br
    br
    br
    div(style="background-image: url('images/8.webp')").preview
section(class="norman_banner")
    div.container
        div.text
            br
            br
            br
            br
            br
            h3 Норман Риекстс
            p Главный технолог ООО &quot;КЕХО&quot; / Руководитель ОТК
            br
            hr.title
            br
            p
                | Мы работаем над тем, что бы интегрировать
                strong европейский подход
                | в процессы изготовления мебели 
                | в компании КЕХО. Я и моя команда гарантируем вам профессионализм и высокий сервис.
            br
            a(class="animated_arrow callback_button")
                span(class="the_arrow left")
                    span.shaft
                span.main
                    span(class="link_text")
                        | Заказать проект
                    span(class="the_arrow right")
                        span.shaft
            br
            br
            br
            br
            br
            br
        div(style="background-image: url('images/norman.webp')").image
br
br
br
br
section.introduce
    div.container
        h3
            | Изготовление высококачественной мебели 
            | по индивидуальному дизайн-проекту, точно в срок
        br
        hr.title
        br
        p
            | Работаем с коммерческими объектами, где интерьер является способом самовыражения и 
            | привлечения клиентов. Ответственно подходя к каждому проекту, мы приобрели опыт 
            | создания самых сложных предметов интерьера — качественно и в кратчайшие сроки.
br
br
br
section.individual
    div.container
        br
        br
        div.list
            div(class="individual_card animated")
                a(href="category_portfolio.html", class="desktop_link")
                div(style="background-image: url('images/1.webp')").preview
                div.description
                    h4 Кухни
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
                        br
                        a(href="category_portfolio.html", class="animated_arrow")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Подробнее
                                span(class="the_arrow right")
                                    span.shaft
            div(class="individual_card animated")
                a(href="category_portfolio.html", class="desktop_link")
                div(style="background-image: url('images/9.webp')").preview
                div.description
                    h4 Гардеробные
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
                        br
                        a(href="category_portfolio.html", class="animated_arrow")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Подробнее
                                span(class="the_arrow right")
                                    span.shaft
            div(class="individual_card animated")
                a(href="category_portfolio.html", class="desktop_link")
                div(style="background-image: url('images/5.webp')").preview
                div.description
                    h4 Мебель в ванную
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
                        br
                        a(href="category_portfolio.html", class="animated_arrow")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Подробнее
                                span(class="the_arrow right")
                                    span.shaft
            div(class="individual_card animated")
                a(href="category_portfolio.html", class="desktop_link")
                div(style="background-image: url('images/7.webp')").preview
                div.description
                    h4 Мебель в прихожую
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
                        br
                        a(href="category_portfolio.html", class="animated_arrow")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Подробнее
                                span(class="the_arrow right")
                                    span.shaft
            div(class="individual_card animated")
                a(href="category_portfolio.html", class="desktop_link")
                div(style="background-image: url('images/6.webp')").preview
                div.description
                    h4 Мебель в спальню
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
                        br
                        a(href="category_portfolio.html", class="animated_arrow")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Подробнее
                                span(class="the_arrow right")
                                    span.shaft
            div(class="individual_card animated")
                a(href="category_portfolio.html", class="desktop_link")
                div(style="background-image: url('images/5.webp')").preview
                div.description
                    h4 Шкафы Купе
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
                        br
                        a(href="category_portfolio.html", class="animated_arrow")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Подробнее
                                span(class="the_arrow right")
                                    span.shaft
            div(class="individual_card animated")
                a(href="category_portfolio.html", class="desktop_link")
                div(style="background-image: url('images/4.webp')").preview
                div.description
                    h4 Мебель в гостинную
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
                        br
                        a(href="category_portfolio.html", class="animated_arrow")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Подробнее
                                span(class="the_arrow right")
                                    span.shaft
            div(class="individual_card animated")
                a(href="category_portfolio.html", class="desktop_link")
                div(style="background-image: url('images/3.webp')").preview
                div.description
                    h4 Мебель в детскую
                    div.hidden
                        br
                        p
                            | Мы заинтересованы в сотрудничестве с вами! Разработаем концепцию, построим, проведем 
                            | открытие и возьмем на себя управление вашими будущим бизнесом.
                        br
                        a(href="category_portfolio.html", class="animated_arrow")
                            span(class="the_arrow left")
                                span.shaft
                            span.main
                                span(class="link_text")
                                    | Подробнее
                                span(class="the_arrow right")
                                    span.shaft
br
br
br
br
br
br
section.about
    div.container.reverse
        div(class="image_group")
            div.previews
                div(style="background-image: url('images/4.webp')").preview
                div(style="background-image: url('images/5.webp')").preview.active
                div(style="background-image: url('images/6.webp')").preview
            div(style="background-image: url('images/5.webp')").main.preview
        div.description
            h4 Документация
            br
            p
                | К каждому договору обязательное приложение - конструкторская документация, где 
                | изделие проработано от А до Я. Вы будете заранее знать своё изделие в деталях.
            br
            a(class="animated_arrow")
                span(class="the_arrow left")
                    span.shaft
                span.main
                    span(class="link_text")
                        | Посмотреть пример
                    span(class="the_arrow right")
                        span.shaft
            br
            br
            br
            h4 Наблюдайте за выполнением заказа
            br
            p
                | Вы можете приехать к нам в цех в любой день без предупреждения и посмотреть на ход 
                | выполнения вашего заказа. Просто наберите в навигаторе КЕХО.
            br
            br
            h4 Технический контроль
            br
            p
                | Каждое изделие проходит проверку менеджера Отдела Технического Контроля. Мы предоставляем 
                | гарантию до 40 месяцев и должны быть уверены в качестве выходящих продуктов на 100%
br
br
br
br
br
br
section.subscribe
    br
    br
    br
    br
    div.container
        h2 Заголовок открытой формы
        br
        p Мы работаем над тем, что бы интегрировать европейский подход в процессы изготовления мебели в компании КЕХО.
        br
        form
            input(type="text", placeholder="Как к вам обращаться?")
            input(type="text", placeholder="8 ( _ _ _ ) _ _ _ - _ _ - _ _")
            input(type="submit", value="Отправить заявку").button
    br
    br
    br
    br
br
br
br
br
br
br
section.instagramm.paddings
    div.container
        div.grid
            div
                div(style="background-image: url('images/1.webp')").preview
                div(style="background-image: url('images/2.webp')").preview
                div(style="background-image: url('images/3.webp')").preview
                div(style="background-image: url('images/4.webp')").preview
            div(style="background-image: url('images/5.webp')").preview
br
br
br
br
br
br
section.about
    div.container
        div.description
            h3 Архитекторы и дизайнеры выбирают КЕХО
            br
            p
                | Сотрудничество с архитекторами и дизайнерами интерьера - основное направление компании КЕХО. Мы знаем 
                | как вам важны оперативные расчеты и прозрачная и понятная спецификация материалов в предложении. Мы 
                | работаем строго по чертежам и разрабатываем их сами на основании общих данных изделия.
            br
            p
                | Мы поможем найти правильное решение по реализации любой вашей задумки. Мы не ограничиваем Вас в выборе 
                | материалов. Мы знаем как общаться с Вашими заказчиками, знаем что можно говорить и что нельзя.
            br
            a(class="animated_arrow callback_button")
                span(class="the_arrow left")
                    span.shaft
                span.main
                    span(class="link_text")
                        | Получить специальные условия
                    span(class="the_arrow right")
                        span.shaft
        div(class="image_group")
            div(style="background-image: url('images/1.webp')").main.preview
            div.previews
                div(style="background-image: url('images/1.webp')").preview.active
                div(style="background-image: url('images/2.webp')").preview
                div(style="background-image: url('images/3.webp')").preview
br
br
br
br
br
br
section.introduce
    div.container
        h3
            | Работаем на современном оборудовании
        br
        hr.title
        br
        p
            | В начале 2020 года мы обновили свой станочный парк и приобрели ряд совершенно новых станков 
            | итальянского производителя SCM
br
section.equipment
    div.container
        div.list
            div(class="equipment_card")
                div.preview
                    div(style="background-image: url(images/equipment/1.webp)")
                p ЧПУ Раскроечный центр SCM Gabbiani
            div(class="equipment_card")
                div.preview
                    div(style="background-image: url(images/equipment/2.webp)")
                p Кромкооблицовочный станок SCM Olimpic
            div(class="equipment_card")
                div.preview
                    div(style="background-image: url(images/equipment/3.webp)")
                p Сверлильно-присадочный ЧПУ SCM Startech
            div(class="equipment_card")
                div.preview
                    div(style="background-image: url(images/equipment/4.webp)")
                p Фрезерный станок SCM Invincibile
            div(class="equipment_card")
                div.preview
                    div(style="background-image: url(images/equipment/5.webp)")
                p Калибрально-шлифовальный станок SCM DMC
            div(class="equipment_card")
                div.preview
                    div(style="background-image: url(images/equipment/6.webp)")
                p Рейсмуссовый станок SCM Class si
            div(class="equipment_card")
                div.preview
                    div(style="background-image: url(images/equipment/7.webp)")
                p Аспирационная установка SCM Formula
        div.navigation
br
br
br
br
br
br

include _footer.pug