include _header.pug

script(src="https://api-maps.yandex.ru/2.1/?lang=ru-RU", type="text/javascript")
br
br
section.introduce
    div.container
        h1 Партнерство
        br
        hr.title
        br
        p
            | Мебельная фабрика «КЕХО», приглашает к сотрудничеству студии дизайна, дизайнерские и архитектурные бюро, а также 
            | частных дизайнеров и архитекторов. Мы всегда готовы предложить Вам выгодное сотрудничество.
        br
        br
        br
        ol.numeric
            li
                strong Более 10 лет на рынке
                p Работаем на рынке корпусной мебели более 10 лет.
            li
                strong Любые творческие идеи
                p
                    | Предлагаем неограниченные возможности при воплощении творческих идей в разработке кухонной и 
                    | другой корпусной мебели, поможем удовлетворить запросы самых взыскательных клиентов.
            li
                strong От эконом до премиум
                p Произведём любую корпусную мебель на заказ по индивидуальным проектам высокого качества, от эконом до премиум класса.
            li
                strong Комплексные решения
                p
                    | Мы сотрудничаем с ведущими производителями бытовой техники, моек, смесителей и сантехники — 
                    | и готовы предоставлять заказчику комплексные решения.
            li
                strong Длительные сроки гарантии
                p Длительные сроки гарантии — 5 лет на мебель, на фурнитуру от 10 лет.
            li
                strong Постгарантийное обслуживание
                p Обеспечиваем постгарантийное обслуживание.
            li
                strong Выгодные условия
                p Мы ценим наших партнёров, и предложим выгодные условия сотрудничества.
        br
        br
        br
        br
        div(class="instagramm_grid")
            div
                div(style="background-image: url('images/portfolio/6.jpg')").preview
                div(style="background-image: url('images/portfolio/7.jpg')").preview
                div(style="background-image: url('images/portfolio/8.jpg')").preview
                div(style="background-image: url('images/portfolio/9.jpg')").preview
            div(style="background-image: url('images/portfolio/10.jpg')").preview
br
br
br
br
br
br
section.adresses
    div.wrap
        br
        br
        br
        div(class="tabs_content")
            div(class="tab_content active_tab")
                div.info
                    div.adress 193231, Московская область, г. Одинцово,  Можайское шоссе 8
                    div.contacts
                        p Телефон:   
                            a(href="tel:+74951778725") +7 (495) 177-87-25
                        p Почта:   
                            a(href="mailto:info@kehowork.ru") info@kehowork.ru
                        p График:   
                            span с 10:00 до 20:00
                    div(class="button callback_button") Написать нам
                br
                br
                br
                div(id="map_factory").map


script.

    ymaps.ready(function(){

        var map_factory = new ymaps.Map('map_factory', {
            center: [55.670018, 37.270911],
            zoom: 15,
            controls: ["zoomControl"]
        })

        var placemark_factory = new ymaps.Placemark([55.670018, 37.270911], {
            hintContent: 'Офис продаж',
            balloonContent: '\
                <span>адрес:</span>\
                <p>Московская область, г. Одинцово, Можайское шоссе 8</p>\
                <span>Телефон:</span>\
                <a href="tel:+74951778725">+7 (495) 177-87-25</a>\
                <span>Почта:</span>\
                <a href="mailto:info@kehowork.ru">info@kehowork.ru</a>\
            '
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'images/pin.svg',
            iconImageSize: [50, 50],
            iconImageOffset: [-30, -45]
        });
        map_factory.geoObjects.add(placemark_factory);
        map_factory.behaviors.disable('scrollZoom')
    })

include _footer.pug