include _header.pug
include _order_popup.pug

br
br
section(class="product_description")
    div.container
        h1 Комод LUGANO
        br
        br
        div.breadcrumbs
            div
                p Категория:
                a(href="category.html") Журнальные столы
            div
                p Коллекция:
                a(href="category.html") Для дома
        br
        br
        br
        div.wrap
            div(class="product_gallery")
                div.list
                    div(style="background-image: url('images/card-1.webp')")
                    div(style="background-image: url('images/card-2.webp')")
                    div(style="background-image: url('images/card-3.webp')")
                    div(style="background-image: url('images/card-4.webp')")
                div.navigation
                    div.dots
            div.description
                p
                    | Изящная и элегантная мебельная стенка Lugano легко удовлетворит все ваши потребности 
                    | в хранении. Этот комод невероятно красив, причем не в ущерб функциональности. 
                    | Благодаря потрясающей отделке и изящному виду этот современный комод впишется в любой 
                    | интерьер.
                br
                br
                div.custom-select
                    label(for="study_center") Материал:
                    select(name="study_center")
                        option(value="0") Выберите материал
                        option(value="1", selected) Шпон дуба
                        option(value="2") Шпон сосны
                        option(value="3") Дуб
                        option(value="4") Кедр
                br
                div.custom-select
                    label(for="study_center") Ножки:
                    select(name="study_center")
                        option(value="0") Выберите ножки
                        option(value="1", selected) Металлические
                br
                br
                p Рекомендуемая розничная цена
                div.price от ₽ 769 600
                br
                br
                div.action
                    div.button.order Заказать товар
                    div(class="animated_arrow callback_button")
                        span(class="the_arrow left")
                            span.shaft
                        span.main
                            span(class="link_text")
                                | Уточнить детали
                            span(class="the_arrow right")
                                span.shaft
br
br
br
br
br
br
section.specs
    div.container
        br
        br
        br
        br
        h2 Подробная информация о товаре
        br
        hr.title
        br
        br
        div(class="spec_list")
            div(class="spec_articule")
                h4 Номер товара
                p
                    span 3800SD000115A00
            div(class="spec_material")
                h4 Материалы
                p Hапольный шкаф:
                    span меламин/фибролит
                p Лицевая сторона:
                    span меламин/фибролит
                p Ножка/основание:
                    span сталь
            div(class="spec_main")
                h4 Основные характеристики
                p Количество выдвижных ящиков:
                    span 6
            div(class="spec_size")
                h4 Размеры и вес
                p Высота:
                    span 93 см
                p Ширина:
                    span 154 см
                p Глубина:
                    span 48 см
                p Максимальная нагрузка:
                    span 80 kg
            div(class="spec_cover")
                h4 Покрытие
                p Hапольный шкаф:
                    span лаковое покрытие
                p Лицевая сторона:
                    span лаковое покрытие
                p Ножка/основание:
                    span порошковое напыление
            div(class="spec_designer")
                h4 Дизайнер
                p
                    span Morten Georgsen
            div(class="spec_3d")
                h4 3D модель
                p
                    a(href="###") Скачать 
                    | ( 230.6 Кб )
            div(class="spec_instruction")
                h4 Инструкции по сборке
                ul
                    li
                        p
                            a(href="###") Assembly instructions 
                            | ( 1418 Кб )
                    li
                        p
                            a(href="###") Assembly instructions 
                            | ( 1112 Кб )
                    li
                        p
                            a(href="###") Product sheet 
                            | ( 100 Кб )
            div(class="spec_assembly")
                h4 Сборка
                p
                    | Это изделие сложно собрать, поэтому мы рекомендуем вам воспользоваться помощью наших 
                    | профессиональных сборщиков. Наш опытный персонал всегда готов доставить вашу покупку 
                    | вам домой, собрать и установить мебель там, где вам нужно, а затем вынести упаковку.
        br
        br
        br
        br
br
br
br
br
section.introduce
    div.container
        h1 Похожие товары
        br
        hr(style="margin: 0 auto").title
        br
        p
            | Дизайнерские столы в лаконичном скандинавском стиле помогут создать удобную продуманную обстановку 
            | и придадут интерьеру особый шик. Модели, представленные в каталоге, привлекают элегантным дизайном 
            | — мягкими плавными очертаниями и простотой геометрических форм.
br
br
section.products
    div.container
        div.list
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-1.webp)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-2.webp)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-3.webp)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
            div(class="product_card")
                a(href="product.html", class="desktop_link")
                div.preview
                    div(style="background-image: url(images/card-4.webp)")
                br
                a(href="product.html", class="animated_arrow")
                    span(class="the_arrow left")
                        span.shaft
                    span.main
                        span(class="link_text")
                            | Комод Lugano
                        span(class="the_arrow right")
                            span.shaft
                p от ₽ 27 799
                div.hidden
                    p
                        | Разработаем концепцию, построим, проведем открытие и 
                        | возьмем на себя управление вашими будущим бизнесом.
br
br
br
br
br
br
div(class="product_preview", style="background-image: url('images/5.webp')")

include _footer.pug