include _header.pug

br
br
section.introduce
    div.container
        h1 Собственная линейка мебели
        br
        hr.title
        br
        p
            | KEXOHOME– это фабрика, которая занимается производством мягкой мебели на заказ. 10 лет мы специализируемся на индивидуальных 
            | решениях в области производства диванов и кресел. Наша задача – удовлетворение всех потребностей заказчика касаемо мягкой 
            | мебели, и поэтому каждое наше изделие — это уникальная работа мастеров, выполненная в лучших традициях подхода к качеству.
        br
        br
        br
        br
        ol.numeric
            li
                strong Более 10 лет на рынке
                p Работаем на рынке корпусной мебели более 10 лет.
            li
                strong Длительные сроки гарантии
                p Длительные сроки гарантии — 5 лет на мебель, на фурнитуру от 10 лет.
            li
                strong Постгарантийное обслуживание
                p Обеспечиваем постгарантийное обслуживание.
br
br
br
br
br
br
section(class="page_gallery")
    div.container
        div.gallery
            div(style="background-image: url('images/9.jpg')")
            div(style="background-image: url('images/5.jpg')")
            div(style="background-image: url('images/8.jpg')")
            div(style="background-image: url('images/7.jpg')")
        div.navigation
            div.dots
br
br
br
br
br
br

include _footer.pug